.main{
    background: linear-gradient(0deg,white,#cf7171,#7cd5d5);
    height: 100vh;
    width: 100vw;
}

h1{
    text-align: center;
    text-shadow: 3px 2px 2px aqua;
    font-size: 30px;
}

.btn-row{
    display: flex;
    justify-content: space-between;
    padding-inline: 20.0rem;

}

.btn{
    height: 7rem;
    width: 24rem;
    border-radius: 20px;
    background-color: #7cd5d5;
    font-size: 1.50rem;
}

.btn:hover{
    background-color: aqua;
}

.comp-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10.1rem;
    padding-inline: 15.0rem;
}

.container{
    height: 25rem;
    width: 43.0rem;
}